.bcg__header {
    background-image: url(./images/bg2.jpg);
    background-size: cover;
}

.bcg__blog {
    background-image: url(./images/bcgblog.jpg);
    background-size: cover;
}

.bcg__shop {
    background-image: url(./images/bcg-shop.jpg);
    background-size: cover;
}

.bcg__newsletter {
    background-image: url(./images/bcg-newsletter.jpg);
    background-size: cover;
}

.bcg__contact {
    background-image: url(./images/bcgcontact.JPG);
    background-size: cover;
}

.fa-shopping-basket {
    cursor: pointer;
}

.dot {
    display: none;
    position: absolute;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    bottom: -20%;
    left: -20%;
    background-color: red;

}

.buttonDelete {
    top: 5px;
    right: 5px;
}