.bcg__header {
    background-image: url(/images/bg2.jpg);
    background-size: cover;
}

.bcg__blog {
    background-image: url(../images/bcgblog.jpg);
    background-size: cover;
}

.bcg__shop {
    background-image: url(/images/bcg-shop.jpg);
    background-size: cover;
}

.bcg__newsletter {
    background-image: url(./images/bcg-newsletter.jpg);
    background-size: cover;
}

.bcg__contact {
    background-image: url(/../images/bcgcontact.jpg);
    background-size: cover;
}